# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtualenvs
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest / mypy caches
.pytest_cache/
.mypy_cache/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Coverage
.coverage
htmlcov/

# Django
*.sqlite3

# Misc
.DS_Store
Thumbs.db
